body {
    background-image: url(https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-repeat: repeat-y;
    background-size: 100%;
    text-align: center;
    display: block;
}
link {
    font-size: 30px;
}

h1{
border: 3px solid black;
position:relative;
font-size: 5em;
position: center;
padding: 5px;
margin-bottom: 10px;

}
h2{
    font-size: 4em;
    font-weight: normal;
    text-decoration-line: italic;
    text-decoration: underline;
}

h3{
    font-size: 4em;
    font-weight: normal;
    text-decoration: underline;
}

p{
    font-size: 3em;
}
ul{
    font-size: 3em;
}

#chin {
    width: 150px;
    height: 150px;
    padding: 30px;
    
    
}

#shirt{
    width: 150px;
    height: 150px;
    padding: 30px;
}

#fam{
width: 150px;
height: 150px;
padding: 30px;
}

#frosted{
    width: 150px;
    height: 150px;
    padding: 30px;
}
#salmon{
    width: 600px;
    height: 300px;
}
nav{
    border: 3px solid black;
    float: left;
}
location{
    border: 3px solid black;
}
a{
    font-size: 3em;
}