body{
    background-image: url(./cutter.jpeg);
}

div{
    padding: 2em;
}
h2{
    background-color: rgb(250, 144, 144);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 400;
    padding:10;
    text-align: center;
    border: 1px solid black;
}
thead{
    border: 1px solid black;
    background-color: salmon;
}
tbody{
    border: 1px solid black;
    background-color: salmon;
}
tfoot{
    border: 1px solid black;
    background-color: beige;
}
th{
    border: 1px solid black;
    background-color: pink;
    padding: 0em
}
td{
    border: 1px solid black;
    background-color:rgb(159, 159, 247) ;
    padding: 0em
}
fieldset{
    border: 2px solid black;
    background-color:rgb(191, 252, 185) ;
    padding: 0em;
    margin: 0em;
    padding-top: 10px;
}
a#link{
    font-size:2em;
    float: right;
    font-weight: 2px;
}